### Work in progress - samla in Alvins yrken

In [1]:
from datetime import datetime
start_time  = datetime.now()
print("Last run: ", start_time)

Last run:  2021-08-15 08:56:35.872580

In [2]:
# pip install sparqlwrapper
# https://rdflib.github.io/sparqlwrapper/

import sys,json
import pandas as pd 

from SPARQLWrapper import SPARQLWrapper, JSON

endpoint_url = "https://query.wikidata.org/sparql"

queryAlvin = """SELECT ?item ?itemLabel ?alvinid WHERE {
  ?item wdt:P6821 ?alvinid.
  ?item wdt:P31 wd:Q5.
  SERVICE wikibase:label { bd:serviceParam wikibase:language "sv". }
} limit 10000"""

def get_sparql_dataframe(endpoint_url, query):
    """
    Helper function to convert SPARQL results into a Pandas data frame.
    """
    user_agent = "salgo60/%s.%s" % (sys.version_info[0], sys.version_info[1])
 
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query()

    processed_results = json.load(result.response)
    cols = processed_results['head']['vars']

    out = []
    for row in processed_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)

    return pd.DataFrame(out, columns=cols)

WDAlvintot = get_sparql_dataframe(endpoint_url, queryAlvin)
WDAlvintot["Source"] = "Alvin"

In [3]:
WDAlvintot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item       100 non-null    object
 1   itemLabel  100 non-null    object
 2   alvinid    100 non-null    object
 3   Source     100 non-null    object
dtypes: object(4)
memory usage: 3.2+ KB

In [4]:
WDAlvintot.head(5)

,item,itemLabel,alvinid,Source
0,http://www.wikidata.org/entity/Q297,Diego Velázquez,alvin-person:61604,Alvin
1,http://www.wikidata.org/entity/Q619,Nicolaus Copernicus,alvin-person:12091,Alvin
2,http://www.wikidata.org/entity/Q747,Pierre Corneille,alvin-person:67256,Alvin
3,http://www.wikidata.org/entity/Q859,Platon,alvin-person:29707,Alvin
4,http://www.wikidata.org/entity/Q859,Platon,alvin-person:69659,Alvin

In [14]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup, NavigableString, Tag
def cleanupstring(s):
    out_s = s
    while '  ' in out_s:
        out_s = out_s.strip().replace('  ', ' ')
    return out_s, len(s)-len(out_s)


newList = []
urlBase = "https://www.alvin-portal.org/alvin/view.jsf?pid="
for index, row in WDAlvintot.iterrows():
    alvinid = row['alvinid']
    person = row['itemLabel']
    url = urlBase + alvinid
    #print(url)
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    for header in soup.find_all('h2'): 
        nextNode = header
        if "Occupation" in header:
            while True:
            
                nextNode = nextNode.nextSibling
                if nextNode is None:
                    break
                if isinstance(nextNode, NavigableString):
                    print (alvinid,"-",person,"\tyrke: ",nextNode.strip())
                    newList.append(nextNode.strip())
                    break
#                if isinstance(nextNode, Tag):
#                    if nextNode.name == "h2":
#                        break
                #print (nextNode.get_text(strip=True).strip())

print("Lines found:\t", len(newList))    
# TBD

alvin-person:61604 - Diego Velázquez 	yrke:  Konstnär
alvin-person:12091 - Nicolaus Copernicus 	yrke:  Astronomer
alvin-person:67256 - Pierre Corneille 	yrke:  Advokat, Kompositör, Författare, Tonsättare
alvin-person:29707 - Platon 	yrke:  filosof
alvin-person:34553 - Ban Ki-moon 	yrke:  Förenta nationernas generalsekreterare
alvin-person:15458 - Richard Wagner 	yrke:  Composer, kompositör
alvin-person:10891 - Albrecht Dürer 	yrke:  Engraver, Painter
alvin-person:56168 - Quintus Curtius Rufus 	yrke:  historiker
alvin-person:1063 - Marie Curie 	yrke:  Fysiker, Radiolog, Kemist, Chemist, Physicist, kemist, fysiker
alvin-person:48342 - Simone de Beauvoir 	yrke:  författare, filosof, feminist
alvin-person:27012 - Ingmar Bergman 	yrke:  Regissör, Författare, regissör
alvin-person:64330 - Grazia Deledda 	yrke:  Författarinna
alvin-person:25934 - Arkimedes 	yrke:  Matematiker
alvin-person:10603 - Augustin Louis Cauchy 	yrke:  Mathematician, Engineer
alvin-person:3534 - Martin Luther 	yrke:  Teolog, Präst, Författare
alvin-person:4574 - Thomas Jefferson 	yrke:  Lawyer, Politician
alvin-person:8535 - Spencer Fullerton Baird 	yrke:  Professor, Zoologist
alvin-person:4946 - William Herschel 	yrke:  Astronomer, Musician
alvin-person:5631 - Robert Elias Fries 	yrke:  Botanist
alvin-person:20782 - William John Hamilton 	yrke:  Geologist
alvin-person:12270 - William Jack 	yrke:  Botanist
alvin-person:64652 - Émile Durkheim 	yrke:  Sociolog
alvin-person:8880 - George Biddell Airy 	yrke:  Astronomer, Professor
alvin-person:17889 - Gustave Eiffel 	yrke:  Engineer, Architect
alvin-person:7166 - John Scott Burdon-Sanderson 	yrke:  Physician, Professor, Physiologist
alvin-person:52039 - Pietro Metastasio 	yrke:  författare, librettist
alvin-person:18507 - Jean-Louis Lefebvre de Cheverus 	yrke:  Bishop, Cardinal
alvin-person:8323 - Alexander Graham Bell 	yrke:  Inventor
alvin-person:25261 - Alexander Fleming 	yrke:  Bacteriologist
alvin-person:13635 - Robert Koch 	yrke:  Immunologist, Professor, Bacteriologist, Physician
alvin-person:4580 - Edward Jenner 	yrke:  Physician
alvin-person:3019 - Axel Munthe 	yrke:  Physician, Author
alvin-person:50391 - Henri Bergson 	yrke:  professor, filosof
alvin-person:46432 - Wisława Szymborska 	yrke:  författare
alvin-person:15818 - Ivan Pavlov 	yrke:  Physician, Physiologist
alvin-person:33515 - Ambrosius av Milano 	yrke:  ärkebiskop
alvin-person:26380 - Angus Young 	yrke:  Gitarrist
alvin-person:2789 - Hans Christian Ørsted 	yrke:  Physicist, Professor
alvin-person:12520 - Ernst Haeckel 	yrke:  Professor, Zoologist, Explorer
alvin-person:12779 - Georg Friedrich Grotefend 	yrke:  Philologist
alvin-person:11698 - August Hermann Francke 	yrke:  Theologian, Pedagog, Orientalist, Filolog
alvin-person:12345 - Wilhelm Filchner 	yrke:  Explorer
alvin-person:12678 - Eugen Goldstein 	yrke:  Astronomer, Physicist, Professor
alvin-person:13479 - Samuel Gottlieb Gmelin 	yrke:  Explorer, Botanist
alvin-person:22156 - Carl Koller 	yrke:  Ophthalmologist
alvin-person:8910 - Bernhardus Albinus 	yrke:  Professor, Physician
alvin-person:24151 - Eduard Pernkopf 	yrke:  Anatomist, Professor
alvin-person:5532 - Hanns Bruno Geinitz 	yrke:  Geologist, Professor, Mineralogist
alvin-person:48666 - Gustav Bergmann 	yrke:  professor
alvin-person:4164 - Karl Hugo Kronecker 	yrke:  Physiologist, Professor, Physician
alvin-person:3386 - Q86460 	yrke:  Physician
alvin-person:2013 - Wilhelm Roser 	yrke:  Professor, Anatomist, Ophthalmologist, Surgeon
alvin-person:24612 - Friedrich Stolz 	yrke:  Chemist
alvin-person:37795 - Berta Karlik 	yrke:  professor, fysiker
alvin-person:24289 - August Reuss 	yrke:  Pediatrician, Professor
alvin-person:2737 - Johann Nepomuk von Nussbaum 	yrke:  Physician, Surgeon, Professor
alvin-person:2125 - August Emanuel von Reuss 	yrke:  Mineralogist, Ophthalmologist, Paleontologist, Geologist, Physician
alvin-person:15823 - Ludwig Stieda 	yrke:  Anatomist, Professor
alvin-person:23077 - Otto von Fürth 	yrke:  Biochemist, Professor
alvin-person:22969 - Theodor Fahr 	yrke:  Pathologist, Professor
alvin-person:24274 - Q90573 	yrke:  Gynaecologist, Pharmacologist, Philosopher
alvin-person:5674 - Otto Funke 	yrke:  Physiologist, Chemist
alvin-person:7385 - Joachim Dietrich Brandis 	yrke:  Physician
alvin-person:16513 - August von Rothmund 	yrke:  Ophthalmologist, Professor
alvin-person:36941 - Pär Lagerkvist 	yrke:  författare
alvin-person:60780 - Johann Schweikhard von Kronberg 	yrke:  Kurfurste
alvin-person:16223 - Johann Christian Wiegleb 	yrke:  Apothecary, Chemist
alvin-person:8218 - Gustav von Bergmann 	yrke:  Internist, Physician
alvin-person:8695 - Johannes Aurifaber 	yrke:  Preacher, Publisher, Theologian
69

In [51]:
import pandas as pd
newListdf = pd.DataFrame(newList,columns=list(["Yrke"]))

In [54]:
newListdf

                                           Yrke
0                                      Konstnär
1                                    Astronomer
2   Advokat, Kompositör, Författare, Tonsättare
3                                       filosof
4        Förenta nationernas generalsekreterare
..                                          ...
64                                   författare
65                                    Kurfurste
66                          Apothecary, Chemist
67                         Internist, Physician
68              Preacher, Publisher, Theologian

[69 rows x 1 columns]

In [55]:
yrkendf = pd.concat([pd.Series(row['Yrke'].split(','))              
                    for _, row in newListdf.iterrows()]).reset_index() 
yrkendf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   139 non-null    int64
 1   0       139 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB

In [57]:
mapping = {yrkendf.columns[1]:'yrke'}
yrkendf = yrkendf.rename(columns=mapping)
yrkendf["yrke"] = yrkendf['yrke'].str.strip()
yrkenAlvin = yrkendf["yrke"].value_counts()

In [ ]:
yrkenAlvin.